INTERNAL_API_KEY=GANTI_DENGAN_KEY_YANG_SAMA_DI_SEMUA_SERVICE
ADMIN_URL=http://admin-panel-docker:5001
AI_URL=http://ai-service-docker:5000
PORT=3000
ADMIN_WA=628xxxxxxxxxx
BAILEYS_AUTH_DIR=/app/auth_info_baileys
ORDER_SESSION_FILE=/app/data/order_sessions.json
